body {
    background: url("mountains-1412683.svg") repeat-x bottom left;
    background-size: cover;
    height: 100vh;
    width: 100vw; 
    background-attachment: fixed;
    background-origin: border-box;
    margin-top: 20vh;
}
.wrapper {
    animation: show 1s ease-in-out 1s forwards;
    opacity: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items:center;
    flex-direction: column;
    justify-content: center;
}
.content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}
p {
    display: flex;
    justify-content: center;
    margin-top: -3%;
    font-weight: 900;
    color: rgb(105, 129, 105, 0.897)
}
h1 {
    display: flex;
    justify-content: center;
    color: rgba(105, 129, 105, 0.897);
    margin-bottom: 5px;
    font-size: 50px;
}
a   {
    display: flex;
    color: rgb(105, 129, 105, 0.897);
    outline: 0; 
    text-decoration: none;
    font-size: 42px; 
    }
.subtitle {
    margin-top: 0px;
    margin-bottom: 15px;
}
.icons {
    display: flex;
    justify-content: center;
}
.social_media {
    display: flex;
    transition: all 0.3s ease-in-out;
    border-radius: 100%;
    border: solid 1px;
    color: rgb(105, 129, 105, 0.897);
    width: 72px;
    height: 72px;
    margin: 0 10px;
    justify-content: center;
    align-items: center;
}

.social_media:hover {
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.5)
}

@keyframes show {
    0% {
      margin-top: -268px;
      opacity: 0;
    }
    100% {
      margin-top: -300px;
      opacity: 1;
    }
  }
